<!doctype html5>
<html>
<head>
  <title>Users</title>
</head>
<body>
  <h2>Users</h2>
  <table width="100%" border="1">
  <tr>
    <td>User</td>
    <td>Approved</td>
    <td>Delete</td>
  </tr>
	<tr>
	 <form id="users" action="{{ url_for('users') }}" method="post">
  {% for user in users %}
 	<td>{{user.username}}</td>
		{% if not user.approved %}
	<td><input type="checkbox" name="username" value="{{user.username}}" id="username"></td>
		{% else %}
	<td>{{user.approved}}</td>
		{% endif %}
	<td> <input type="checkbox" name="delete_users" value="{{user.username}}" id="username"></td>

  {% endfor %}
	</tr>
	</table>
	<br>
	<input type="submit" value="Submit">	
	</form>
 {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
